*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: 5px 0;
}
.logo{
    width: 199px;
    margin: 26px -17px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    margin: 6px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    padding: 16px;
}
nav ul li a::after{
    content: '';
    width: 0;  
    height: 3px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.text-box{
    color: white;
    position: absolute;
    bottom: 8%;

}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 190px;
    line-height: 267px;
    margin-left: -66px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}
.text-box h6{
    font-size: 100px;
    line-height: 99px;
    margin-left: 189px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}

.text-box h3{
    font-size: 40px; 
    font-weight: 500;  
    
    margin-left: 61px;
    /* padding: 20px; */
    /* margin: 20px; */
}
.text-box h2{
    font-size: 20px; 
    font-weight: 500;  
    /* padding: 20px; */
    /* margin: 20px; */
}
.text-box h2{
    font-size: 20px; 
    font-weight: 500;  
    /* padding: 20px; */
    /* margin: 20px; */
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.text-box a{
    color: white;
    text-decoration: none;
    margin-left: -9px;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin: 25px 5px ;
}
/* @media  and (max-width:1118px) {
    .text-box, .container {
        width:100%;
    }
} */
/* footer {
    text-align: center;
    padding: 3px;
    background: linear-gradient(90deg, rgb(255 255 255) 0%, rgb(13 34 44) 100%);
    color: white;
}
footer img{
    align-items: center;
    justify-content: center;
    width: 167px;
    display: block;
    margin: 0px 580px;
} */
.about-section{
    /* color: white; */
    background: linear-gradient(-45deg,rgb(206 158 182),rgb(29 57 132),rgb(170 106 200),rgb(75 134 174));
    background-size: 400%;
    animation: animate 10s infinite alternate;
}
@keyframes animate{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.about-section p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200px;
    font-size: 30px;
    /* margin: 20px; */
    padding: 20px
}
.about-section h1{
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.about-section pre{
    color: white;
    font-style: oblique;
    font-size: 40px;
    font-weight: 500;
    margin-left: 450px;
    /* font-size: 24px;
    margin-left: 466px; */
}
.about-section h3{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}